<header>
  <div class="row">
    <div class="col">
      <h1 class="text-center">Stafford Lions Club</h1>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav me-auto">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link" href="/about.html">About</a>
          <a class="nav-link" href="https://www.e-clubhouse.org/sites/staffordct/calendar.php" target="_blank">Calendar</a>
          <a class="nav-link" href="https://www.e-clubhouse.org/sites/staffordct/" target="_blank">E-Clubhouse</a>
          <a class="nav-link" href="https://www.facebook.com/StaffordCTLions" target="_blank">Facebook</a>
          <a class="nav-link" href="/feed.xml">RSS</a>
          <a class="nav-link" href="mailto:StaffordCtLions@gmail.com">Contact</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="row">
    <div class="col-12 col-md-2 text-center banner-section">
      <img src="/icon.png" class="img-fluid" alt="Lions Logo">
    </div>
    <div class="col-12 col-md-5 col-lg-4 banner-section">
      Meetings: 1st &amp; 3rd Tuesdays at 6:30 PM at<br>
      <strong>Stafford Community Center</strong><br>
      Buckley Highway<br>
      Stafford Springs, CT <br>
      860-851-8903
    </div>
    <div class="col-12 col-md-5 col-lg-4 banner-section">
      Want to join the Stafford Lions Club?
      <ul>
        <li>View our <a href="/files/StaffordLions.pdf">demo</a></li>
        <li>Email us at <a href="mailto:StaffordCtLions@gmail.com">StaffordCtLions@gmail.com</a></li>
        <li>Write us at Stafford Lions Club, P.O. Box 143, Stafford Springs, CT 06076</li>
        <li>Or talk to any Stafford Lions Club member</li>
      </ul>
    </div>
    <div class="col-12 col-lg-2 d-none d-lg-block text-center banner-section">
      <img src="/icon.png" class="img-fluid" alt="Lions Logo">
    </div>
  </div>
</header>
