<header>
  <div class="row">
    <div class="col">
      <h1 class="text-center">Stafford Lions Club</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img src="/img/lionhead3.jpg" class="img-fluid" alt="Lion Head">
    </div>
    <div class="col text-center">
      <p>
        Meetings: 1st &amp; 3rd Tuesdays at 6:30 PM at<br>
        <strong>Stafford Community Center</strong><br>
        Buckley Highway<br>
        Stafford Springs, CT <br>
        860-851-8903
      </p>
    </div>
    <div class="col text-start">
      <p>
        Want information on joining the Stafford Lions Club? See our
        demo by clicking <a href="http://staffordlionsclub.org/LionDocs/StaffordLions.pdf">here</a>.
        Then email: <a href="mailto:StaffordCtLions@gmail.com">StaffordCtLions@gmail.com</a>;
        or write: Stafford Lions Club, P.O. Box 143, Stafford Springs, CT
        06076. Or talk to any Stafford Lions Club member.
      </p>
    </div>
    <div class="col">
      <img src="/img/lionlogo.gif" class="img-fluid" alt="Lions Logo">
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <b>For More on the Stafford Lions Club click <a href="http://www.e-clubhouse.org/sites/staffordct/" target="_blank">here</a></b>
    </div>
  </div>
</header>
<hr>

