<header>
  <div class="row">
    <div class="col">
      <h1 class="text-center">Stafford Lions Club</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-4 text-center">
      <img src="/img/lionlogo.gif" class="img-fluid" alt="Lions Logo">
    </div>
    <div class="col-12 col-sm-4">
      <p>
        <small>
          Meetings: 1st &amp; 3rd Tuesdays at 6:30 PM at<br>
          <strong>Stafford Community Center</strong><br>
          Buckley Highway<br>
          Stafford Springs, CT <br>
          860-851-8903
        </small>
      </p>
    </div>
    <div class="col-12 col-sm-4">
      <p>
        <small>
          Want information on joining the Stafford Lions Club? See our
          demo by clicking <a href="/docs/StaffordLions.pdf">here</a>.<br>
          Then email: <a href="mailto:StaffordCtLions@gmail.com">StaffordCtLions@gmail.com</a><br>
          or write: Stafford Lions Club, P.O. Box 143, Stafford Springs, CT
          06076. Or talk to any Stafford Lions Club member.
        </small>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <b>For more on the Stafford Lions Club click <a href="http://www.e-clubhouse.org/sites/staffordct/" target="_blank">here</a></b>
    </div>
  </div>
</header>
